name: Run

on:
  workflow_dispatch:

jobs:
  build:
    name: Start Building...
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Python
        run: sudo apt-get update && sudo apt-get install python3 -y

      - name: Install python requirements
        run: sudo apt-get install python3-pip -y

      - name: Run Shell Script
        run: |
          
          git clone https://github.com/s4evsa/karma.git
          cd karma
          pip3 install -r requirements.txt
          python3 main.py cfb https://hemis.namdu.uz/ 1000 9999
